* {
    box-sizing: border-box;
}

html {
    /* background-image: url("../images/pexels-photo-1166644.jpeg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #E3E1E2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: auto;
    
}
section{
    flex-basis: auto;
}

h1 {
    font: 4rem bold;
    border: black dotted;
    border-width: 3px 0px;
    padding: 0;
    margin: 0 0 1rem 0;
    text-align: center;
    font-family: 'Caveat', cursive;

}

h2 {
    font-size: 2rem;
}

nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0 0 0;
    margin: 0rem;
}
.signature {
    padding: 5px 0 0 0;
    margin: 0rem;
    font-family: 'WindSong', cursive;
    font-size: 32px;
    /* border: 3px black solid; */
}
nav a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    color: black;
}
.current {
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    border-radius: 5px;
}

nav a:visited {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color:cornflowerblue;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 0 0px 0;
    margin: 0;
    /* border: 3px blue solid; */
}

nav ul li {
    list-style: none;
    padding: 0 10px 0 10px;
    margin: 0rem;
}

section article {
    border: 5px solid black;
    margin: 0;
    padding: 0;
}

article:after {
    content: "";
    display: table;
    clear: both;
}

article img{
    border: 3px solid blue;
    margin: 0;
    padding: 0;
    float: left;
    clear: none;
}
